* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

/*header css*/

.header {
  min-height: 8rem;
  background-color: aqua;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
}

.header__logo {
}

.navigation {
  width: 75%;
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
}

.navigation__nav {
  flex-basis: 80%;
  background-color: coral;
}

.navigation__list {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.navigation__item {
}

.navigation__link,
.navigation__link,
.navigation__link:visited {
  font-size: 0.8rem;
  color: rgba(black, 0.7);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.header__social-nav {
  position: absolute;
  right: 10%;
  top: 2%;
}
.sosical-nav {
}

.sosical-nav__list {
  list-style: none;
  display: flex;
  background-color: brown;
}
.sosical-nav__item {
}
.sosical-nav__links {
}

.buton {
  background-color:rgba(237, 166, 207, 0.9)
}
