.social-nav {
  &__list {
    list-style: none;
    display: flex;
    
   
  }

  // &__item {
  // }


  &__links{
    &,
    &:link,
    &:visited{
    padding: 0.6rem;
    text-decoration: none;

     &:hover{
    svg{
      fill: #303f30;
    }
  }
  }

 
}
&__icon {

  width: 1rem;
  height: 1rem;
  fill: #5db380;

  }

}
