.t1 {
  font-family: "Roboto";
  margin-top: 2rem;
  color: #3b17b3;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 3.3rem;

  span {
    display: block;
  }
}

.t2 {
  font-family:"Roboto";
  font-size: 2rem;
  color:$color-secondary;
  margin-bottom: 0.2rem;
}
.t3 {
  font-size: 1.2rem;
color:$color-secondary;
}
.t4 {
  font-size: 1.1rem;
}

.s1 {

  font-size: 0.9rem;
  color:#909090;
}
.s2 {
}
