.header {
  width: 100%;
  min-height: 8rem;
 

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;

  &__logo {
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%,-50%);

@media screen  and (max-width:768px){
  left:10%;
  
}

@media screen  and (max-width:480px){
  left:20%;
  
}

@media screen  and (max-width:375px){
  left:30%;
  
}


  }

  &__social-nav {
    position: absolute;
    right: 10%;
    top: 2%;
    @media screen  and (max-width:768px){
  right:1%;
  
}
  }


}
